body > nav > div.links > li {
  padding-right: 1em;
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(84, 91, 98, 0.5), rgba(84, 91, 98, 0.3)), url(/images/background-1.jpg);
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 5rem;
}
.links ul{
  margin: 0;
  padding: 0;
  font-family: Arial;
  display: flex;
  align-items: center;
}
nav {
  box-shadow: 0px 3px 8px -4px #ccc;
  padding: 0px 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(169 169 169 / 40%);
}
nav .home{
  font-size: x-large;
  font-family: fantasy;
  text-shadow: 3px 3px 2px #fcd465;
  flex: 1 0 50%;
}
nav > .home > a {
  color: black;
  padding-left: 1em;
}
nav .links{
  display: flex;
  list-style: none;
  align-items: center;

}
body > nav > div.links > li {
  padding-right: 1em;
}
.nav-item{
  margin: 0 10px;
}
.nav-link{
  text-decoration: none;
  text-transform: uppercase;
  color: aliceblue;
  white-space: nowrap;
}
.nav-link:hover{
  color: #fabb3c;
  cursor: pointer;
}
.btn{
  background-color: #fabb3c;
  color: black;
  border-radius: 12px;
  padding: 8px 10px;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  margin: 8px 5px;
}
.btn:hover {
  color: aliceblue;
  cursor: pointer;
}
.intro{
  background-color: rgb(173 171 166/ 40%);
  color: #fcc742;
  text-align: center;
  font-family: Arial;
  max-width: 1000px;
  position: relative;
  border-radius: 12px;
  margin-top: 1em;
  margin-right: auto;
  margin-left: auto;
  z-index: 1;
}
.intro:hover {
  box-shadow: 0 1px 5px black;
  backdrop-filter: blur(35px);
  background-color: rgb(138 137 135/ 40%);
}
.intro p {
  font-size: 30px;
}

.form {
  margin: 0 auto;
  margin-top: 8px ;
  max-width: 500px;
  background-color: rgba(173, 171, 166, 0.4);
  display: flex;
  flex-direction: column;
  align-items: center;
}
  .window {
    width: 300px;
    height: auto;
    margin-left: 20px;
    overflow-y: auto;
    border: 1px solid #ccc;
    box-shadow: 3px 4px 8px rgba(0, 0, 0, 1.4);
    background-color: rgb(250 187 60);
    color: black;
    padding: 10px;
    border-radius: 15px;
    position: fixed;
    top: 70px;
    right: 10px;
    font-family: Arial;
}
  .user-data{
    text-align: center;
  }
  .user-data-msg{
    font-size: 20px;
  }
  .item{
    margin: 8px 3px ;
  }
  .program{
    font-family: Arial;
    width: 800px;
    height: auto;
    margin-left: 100px;
    margin-top: 8px;
    overflow-y: auto;
    border: 1px solid #ccc;
    box-shadow: 3px 4px 8px rgba(0, 0, 0, 1.4);
    background-color: rgb(250 187 60);
    color: black;
    padding: 10px;
    border-radius: 15px;
    position: relative;
  }
  .cell h3{
    text-align: center;
  }
.text-area {
  width: 100%;
  max-width: 600px; /* Adjust the maximum width as needed */
  height: 200px; /* Adjust the height as needed */
  padding: 10px; /* Space inside the text area */
  border: 1px solid #ccc; /* Border style */
  border-radius: 8px; /* Rounded corners */
  font-size: 16px; /* Font size */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: shadow for better aesthetics */
  resize: both; /* Allows resizing the text area */
}

