<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons::head"></head>
<body>
<header th:replace="fragments/commons::nav"></header>
<main>
    <form class="form"
          th:method="POST"
          th:action="@{/users/add-diet}"
          th:object="${dietData}"
    >
        <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark">Add diet</span></h1>

        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="name" class="h4 mb-2">Name</label>
            </div>
            <input type="text"
                   class="form-control"
                   id="name"
                   name="name"
                   th:field="*{name}"
                   th:errorclass="'is-invalid alert-danger'"
            />
            <small
                    th:each="error: ${#fields.errors('name')}"
                    th:text="${error}"
                    style="color: red"
            >
                User error messages

            </small>
        </div>

        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="category" class="h4 mb-2">Category</label>
            </div>
            <select class="browser-default custom-select"
                    id="category"
                    name="category"
                    th:field="*{category}"
                    th:errorclass="'is-invalid alert-danger'">
                <option value="">Select category</option>
                <option value="BODY_BUILDING">Body building</option>
                <option value="VEGETARIAN">Vegetarian</option>
                <option value="HEALTHY">Healthy</option>
                <option value="WEIGHT_LOSS">Weight loss</option>
                <option value="OTHER">Other</option>
            </select>
            <small
                    th:each="error: ${#fields.errors('category')}"
                    th:text="${error}"
                    style="color: red"
            >
                User error messages

            </small>
        </div>

        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="calories" class="h4 mb-2">Calories</label>
            </div>
            <input type="text"
                   class="form-control"
                   id="calories"
                   name="calories"
                   th:field="*{calories}"
                   th:errorclass="'is-invalid alert-danger'"
            />
            <small
                    th:each="error: ${#fields.errors('calories')}"
                    th:text="${error}"
                    style="color: red"
            >
                User error messages

            </small>
        </div>


        <div class="form-group">
            <div class="label-holder text-white textCol d-flex justify-content-center">
                <label for="nutrients" class="h4 mb-2">Nutrients</label>
            </div>
            <textarea class="text-area"
                      id="nutrients"
                      name="nutrients"
                      th:field="*{nutrients}"
                      th:errorclass="'is-invalid alert-danger'"
                      placeholder="Enter exercises here"
            ></textarea>
            <small
                    th:each="error: ${#fields.errors('nutrients')}"
                    th:text="${error}"
                    style="color: red"
            >
                User error messages

            </small>
        </div>

        <div class="button-holder d-flex justify-content-center">
            <button type="submit" class="btn" value="addPainting">Add diet</button>
        </div>

    </form>
</main>
<footer th:replace="fragments/commons::footer"></footer>
</body>
</html>
